.pan-btn {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.pan-btn-last {
  margin: 15px;
}

.pan-table {
  margin: 15px;
}

.pan-header {
  font-weight: bold;
  border-bottom: 1px solid #aaa;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}